.button{
  background-color: #fff;
  border: 2px solid black;
  border-color: #e7e7e7;
  color:  #686d76;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
  margin: 10px 5px 2px 20px;
}
.button:hover {
  background: #e8e8e8;
}
.button2{
  background-color: #fff;
  border: 2px solid black;
  border-color: #black;
  color:  #686d76;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
  margin: 10px 20px 2px 5px;
}
.button2:hover {
  background: #e8e8e8;
}
